
<div class="w-100 text-center ">

  <a href="#" class="titulos animated slideInRight"><h1 id="sobre">SOBRE MIM</h1></a>
  <hr class="hr1"/>
  <hr class="hr2"/>

</div>

<div class="row" id="descricao">
  <div class="col-md-7 mt-4" id="descricao-texto">
    <h3 class="mb-4 animated flipInX">MEUS SkILLS</h3>
    <p>Sou programador a 3 anos em diversas areas e plataformas existentes. Em termos de areas de actuacao estou mais
      voltado para o backend (base de dados) tendo trabalhado com base de dados offline e online.</p>
    <P>Actualmente sou programador nas plataformas Desktop, Mobile e Web</P>

    <br/>

    <ul class="social-network mt-5 mb-5">
      <li>
        <a href="https://www.facebook.com/profile.php?id=100009545109733" target="_blank" class="icos">
          <i class="fa fa-facebook"></i>
        </a>
      </li>

      <li>
        <a href="https://github.com/herquiloidehele" target="_blank" class="icos">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>

      <li>
        <a href="#" target="_blank" class="icos">
          <i class="fa fa-whatsapp" aria-hidden="true" ></i>
        </a>
      </li>

      <li>
        <a href="#" target="_blank" class="icos">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <br/><br/>

    <h3 class="assinatura text-center mt-5">Herquiloide Hele</h3>

  </div>

  <div class="col-md-5">

    <h3 class="progress-title">Design</h3>
    <div class="progress">
      <div class="progress-bar" style="width: 40%;">
        <div class="progress-bar-value">40%</div>
      </div>
    </div>

    <h3 class="progress-title">Programacao</h3>
    <div class="progress">
      <div class="progress-bar" style="width: 90%;">
        <div class="progress-bar-value">90%</div>
      </div>
    </div>

    <h3 class="progress-title">Analise de Sistemas</h3>
    <div class="progress">
      <div class="progress-bar" style="width: 65%;">
        <div class="progress-bar-value">65%</div>
      </div>
    </div>
  </div>

</div>
