

<div id="cabecalho-div" class="row">


  <div id="cabecalho-imagem" class="col-md-6"></div>

  <div id="cabecalho-info" class="col-md-6 d-flex justify-content-center align-items-center">

    <div class="info">
      <h4 class="animated flipInX">Ola, Eu Sou</h4>
      <h2 class="animated slideInRight">Herquiloide Hele</h2>
      <p class="mb-0">Sou desenvolvidor senior nas Plataformas Desktop & Mobile</p>
      <p class="mt-0">Com 3 Anos de Esperiencia.</p>
      <button class="hvr-forward btn pl-5 pr-5">Baixar VC</button>
    </div>
  </div>



</div>

