

<div class="col-md-6" id="div-foto">

</div>


<div class="col-md-6" id="div-conhecimento">

  <div class="ml-5">
    <h1 class="titulo animated slideInRight" id="conhecimento">CONHECIMENTO</h1>
    <hr class="hr1 ml-0"/>
    <hr class="hr2 ml-0"/>
  </div>

  <br>
  <br>

  <ul id="lista-cnhecimento">
    <li class="elemnto">
      <i class="fa fa-internet-explorer fa-lg" aria-hidden="true"></i>
      <div>
        <h5>Desenvolvimento Web</h5>
        <p>Sou Desenvolvidor Web desde 1 ano, com habilidade de trabalhar com varios Frameworks Back-end e Front-end.</p>
      </div>
    </li>

    <li class="elemnto">
      <i class="fa fa-android fa-lg" aria-hidden="true"></i>
      <div>
        <h5>Desenvolvimento Android</h5>
        <p>Possuo experiencia minima, tendo desenvolvido uma aplicacao de publicao de eventos (SIKO).</p>
      </div>
    </li>

    <li class="elemnto">
      <i class="fa fa-desktop fa-lg" aria-hidden="true"></i>
      <div>
        <h5>Desenvolvimento Desktop</h5>
        <p>Expert em Java, dendo desenvolvido um Sistema Integrado de Gestao de Fornecemento de Agua</p>
      </div>
    </li>

    <li class="elemnto">
        <i class="fa fa-adjust fa-lg" aria-hidden="true"></i>
      <div>
        <h5>UI / UX Design</h5>
        <p>Skills basicos de Design - Photoshop</p>
      </div>
    </li>
  </ul>

</div>
