
<div id="div-principal">
    <div class="container" detect-scroll (onScroll)="onScrollPage($event)">

        <!--Menu do site-->
        <app-menu-component class="row"></app-menu-component>

        <!--<router-outlet></router-outlet>-->
        <!--Cabecalho do site-->
        <div id="cabecalho-link"></div>
        <app-cabecalho class="row hide-me"></app-cabecalho>

        <!--Sobre Mim-->
        <div id="sobre-link"></div>
        <app-sobre-min class="row mb-3 component-margin hide-me"></app-sobre-min>

        <!--Conhecimento-->
        <div id="conhecimento-link"></div>
        <app-conhecimento class="row component-margin hide-me"></app-conhecimento>

        <!--Formacao Academica-->
        <div id="formacao-link"></div>
        <app-formacao class="row component-margin hide-me"></app-formacao>

        <!--Contactos-->
        <div id="contactos-link"></div>
        <app-contactos class="row component-margin hide-me"></app-contactos>


    </div>

    <!--Rodape-->
    <app-rodape class="row mt-4"></app-rodape>

</div>
