
<div>
  <div class="ml-5">
    <h1 class="titulo animated slideInRight" id="formacao">Formacao <span class="animated flipInX yellow">Academinca</span></h1>
    <hr class="hr1 ml-0"/>
    <hr class="hr2 ml-0"/>
  </div>
</div>

<div class="row progresso mt-5 text-center">
  <div class="col-md-4">
    <a class="anos">2003 - 2009</a>
    <h2 class="nivel">NIVEL BASICO</h2>
    <p class="descricao">Concluido com sucesso sem nenhuma reprovacao.</p>
  </div>

  <div class="col-md-4">
    <a class="anos">2010 - 2014</a>
    <h2 class="nivel">NIVEL MEDIO</h2>
    <p class="descricao">Concluido com sucesso sem nenhuma reprovacao.</p>
  </div>

  <div class="col-md-4">
    <a class="anos">2015 - 2017</a>
    <h2 class="nivel">NIVEL SUPERIOR</h2>
    <p class="descricao">Cursando Licenciatura em Informatica 3 Ano.</p>
  </div>



</div>





