
<div class="col-md-12 text-center">
  <h1 class="animated slideInRight" id="contacte-me">CONTACTE - ME</h1>
  <hr class="hr1">
  <hr class="hr2">
</div>


<div class="row col-md-12" id="contactos">
  <div class="col-md-4 item-contacto">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
    <div>
      <h5 class="animated flipInX">Endereco</h5>
      <p>Maputo, Rua da franca - R9</p>
    </div>
  </div>


  <div class="col-md-4 item-contacto">
      <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
    <div>
      <h5 class="animated flipInX">Contacto</h5>
      <p>+258 84 700 55 71</p>
    </div>
  </div>


  <div class="col-md-4 item-contacto">
    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
    <div>
      <h5 class="animated flipInX">Email</h5>
      <p>herquiloide@gmail.com</p>
    </div>
  </div>
</div>

<div id="formulario" class="col-md-12 row">

  <form class="row col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" placeholder="Nome Completo" class="form-control">
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" class="form-control">
      </div>

      <div class="form-group">
        <input type="number" placeholder="No. Telefone" class="form-control">
      </div>
    </div>

    <div class="col-md-6">
      <textarea class="form-control" placeholder="A Sua Mensagem"></textarea>
    </div>

    <button class="btn enviar text-center hvr-forward">Enviar Mensagem</button>
  </form>
</div>





